a {
  text-decoration: none;
}

ul {
  padding: 0;
}

.header {
  height: 60px;
  align-items: center;
  display: flex;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.8);
  filter: drop-shadow(0 0 3px rgba(40, 40, 40, 0.2));
  flex-wrap: wrap;
  left: 0;
  width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  .left {
    display: flex;
    img {
      margin-left: 60px;
    }
  }
  .right {
    margin-left: auto;
    .enroll {
      width: 240px;
    }
  }
  /*  searchページで、headerの追従を解除 */
  &:global(.search) {
    position: static;
  }
}

.link {
  padding: 17px 20px 15px 25px;
  background-color: #f5b845;
  width: 200px;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
  &:hover {
    opacity: 0.7;
  }
}

/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
  top: -3px;
  z-index: 100; /* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

#drawer_input:checked ~ .drawer_open {
  left: 240px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
  background-color: white;
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
  background-color: white;
}

/* メニューのデザイン*/
.nav_content {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -20%; /* メニューを画面の左側外に隠す */
  z-index: 99;
  background: white;
  transition: left 0.5s ease; /* アニメーションを滑らかにする */
  padding-top: 20px;

  p {
    color: #70b2e1;
    font-size: 13px;
    text-align: center;
  }
}
.regist {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-left: 40px;
  padding-bottom: 28px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

.nav_item a {
  color: #427480;
  display: flex;
  font-size: 14px;
  padding: 10px 20px;
  position: relative;
  &:hover {
    background-color: #fff9f4;
  }
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;
}

.overlay {
  display: none; /* 初期状態では非表示 */
  position: fixed; /* 画面全体に固定 */
  top: 0;
  left: 0;
  width: 100vw; /* ビューポートの幅全体 */
  height: 100vh; /* ビューポートの高さ全体 */
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒色 */
  z-index: 98; /* ナビゲーションメニューよりも下、コンテンツよりも上に表示 */
}

/* ハンバーガーメニューがチェックされたときにオーバーレイを表示 */
#drawer_input:checked ~ .overlay {
  display: block;
}

@media screen and (max-width: 768px) {
  .header {
    .right {
      display: none;
    }
  }

  .nav_content {
    left: -102%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &:global(.root) {
      display: none;
    }
  }
}
