body {
  background-color: gray;
}

.chatbot {
  position: fixed;
  bottom: 12px;
  right: 31px;
  z-index: 10000;
  cursor: pointer;
  p {
    background-color: rgba(123, 189, 224, 0.97);
    border: 2px solid white;
    color: white;
    font-size: 15px;
    width: 169px;
    padding: 13px 25px;
    border-radius: 54px;
    letter-spacing: 1.2px;
    display: flex;
    line-height: 20px;
  }
  .chatbot__image {
    img {
      position: absolute;
      top: 5px;
      right: -8px;
      height: 80px;
      width: 80px;
    }
  }
}
